header{
  text-align: right; 
  margin: auto;
  max-width: 800px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
    text-decoration: none;
}

img{
  padding: 5px;
  -webkit-transform: scale(0.9);
}

#github{
    -webkit-transform: scale(0.78);
}

#email{
  -webkit-transform: scale(1.2);
}
body{
  background-color: rgba(228, 177, 111, 0.694);
  text-align: center;
  display: block;
  font-family: monospace;
}

.map {
    display: block;
    margin: auto;
    z-index: 1;
}

div#map{
  display: block;
  margin: auto;
}

.svg {
  background-color: white ;
}

.tooltip {
	width: 150px;
	height: auto;
	padding: 5px;
	position: absolute;
}
				

			
.tooltip p {
	margin: 0;
	font-size: 15px;
	line-height: 20px;
}
				
  .slider-container{
    width: 750px;
    margin: auto;
  }

  .slider {

  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #b13b3b;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgba(175, 225, 181, 0.673);
  cursor: pointer;
}

svg.legend {
	position: absolute;
	right: 10px;
	top: 60px;
}


table{
  margin-left:auto; 
  margin-right:auto;
  padding-top: 30px;
  width: 80%;
  position: relative;
  text-align: center;
  overflow-y:auto;
  padding-bottom: 20px;
}

th {
  background-color: #000;
  color: white;
}

tr:nth-child(even) 
{background-color: #f2f2f2;}


#crimeType{
  position: relative;
  z-index: 1;
}

